/android_arch_core_common_1_0_0_jar.xml
/android_arch_lifecycle_common_1_0_0_jar.xml
/android_arch_lifecycle_runtime_1_0_0.xml
/com_android_support_animated_vector_drawable_27_0_1.xml
/com_android_support_appcompat_v7_27_0_1.xml
/com_android_support_cardview_v7_27_0_1.xml
/com_android_support_constraint_constraint_layout_1_0_2.xml
/com_android_support_constraint_constraint_layout_solver_1_0_2_jar.xml
/com_android_support_design_27_0_1.xml
/com_android_support_recyclerview_v7_27_0_1.xml
/com_android_support_support_annotations_27_0_1_jar.xml
/com_android_support_support_compat_27_0_1.xml
/com_android_support_support_core_ui_27_0_1.xml
/com_android_support_support_core_utils_27_0_1.xml
/com_android_support_support_fragment_27_0_1.xml
/com_android_support_support_media_compat_27_0_1.xml
/com_android_support_support_v4_27_0_1.xml
/com_android_support_support_vector_drawable_27_0_1.xml
/com_android_support_transition_27_0_1.xml
/com_google_android_gms_play_services_base_11_6_0.xml
/com_google_android_gms_play_services_base_license_11_6_0.xml
/com_google_android_gms_play_services_basement_11_6_0.xml
/com_google_android_gms_play_services_basement_license_11_6_0.xml
/com_google_android_gms_play_services_maps_11_6_0.xml
/com_google_android_gms_play_services_maps_license_11_6_0.xml
/com_google_android_gms_play_services_tasks_11_6_0.xml
/com_google_android_gms_play_services_tasks_license_11_6_0.xml
/com_jakewharton_butterknife_8_8_1.xml
/com_jakewharton_butterknife_annotations_8_8_1_jar.xml
/com_roughike_bottom_bar_2_0_2.xml
/junit_junit_4_12_jar.xml
/net_steamcrafted_materialiconlib_1_1_4.xml
/org_hamcrest_hamcrest_core_1_3_jar.xml
/org_jsoup_jsoup_1_11_2_jar.xml
